body{
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);


}

.header-cont{
  padding:2em;
  text-align: 10px;
  margin-top: 10px;
  border: 3px solid darkblue
}

.header-name{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
}
.input-cont{
  margin-top:10em;
  margin-bottom: 10em;
  font-family: 'Montserrat', sans-serif;
  
}
.mb-3{
  border: 1px solid darkblue
}
.inputs{
 
  align-items: center;
  max-width: 1em;
  margin-left:40em;
  border:1px solid rgb(139, 0, 12);
  
  
  text-align:center
}
.btn{
  max-width:max-content;
  align-items: center;
  margin-left:13.5em;

}
.title{
  text-align: center;
}
.App {
  text-align: center;
  background-color: #61dafb;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #abe9cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
